<div class="contact">
  <%= render partial: 'template/header' %>
  <h1>Contacts</h1>
  
 <div class="contact_table">
  <%= form_with model: @contact, local: true do |form| %>
    <%= render "form", form: form %>
    <div class="button"><%= form.submit "送信", :class=>"submit" %></div>
  <% end %>
 </div>
</div>