<!-- ヘッダー部分読み込み  -->
<%= render partial: 'template/header' %>
<!-- -->
<head><link rel=stylesheet href="../../assets/stylesheet/handling.scss"></head>
<div class="-body">
<h4>武器の使い方</h4>
<div>
    <p class="wea_p">剣</p>
    <div class="wea_sword"></div>
    <p>剣は武器（ないし武具）として利用するためのもので、機械要素としての刃（狭い範囲に圧力を集中する楔構造）によって対象に損傷を与える。
        史実的には刃物としてではなく質量を生かして鈍器として用いられるか刺突の機能に期待されるとの印象が大きいが、現代に伝わる西洋剣術の指南書を見る限り、斬撃用途も十分に考慮されていた。基本的に損耗しやすい刃の研磨加工は重要視されなかったが、両手持ちの大型の剣の場合、あえて鍔元に研磨しない箇所を設けることで剣身を握れるようにし、武器としての用途を増やすなどの工夫がなされることもある（例：ツヴァイヘンダー）。また素手で剣身を握り込んで扱う技法も存在したが、剣身の握り方は失伝してしまっている。
        
        一般的に60cm程度より長大なものを指し、より短く軽量のものは刃を研磨され短剣などと呼ばれ区別される。素材に関しては、後述するようにその地域で得られる様々なものが利用された。その発達の歴史では常に最新の素材を利用する傾向も見られる。</p>
</div>
<div>
    <p class="wea_p">槍</p>
    <div class="wea_spear"></div>
    <p>槍は人類最古の狩猟道具・武器の一つで、白兵戦用武器の中で最も活躍した実用的な武器の一つであり、その用途、種類は幅広く類似品も数多く存在する。槍は人類の戦いの歴史に無くてはならない武器であり、全ての時代において使用され続けている。近世以降は銃剣を着剣した小銃が狭義の槍に取って代わったが、その使用法も槍そのものである。
            旧石器時代には既に人類は投石と槍を使用していたことがわかっている。鋭い牙や爪、突進力を有する動物に対するために槍の長さは有効であり、この利点はそのまま対人の兵器としても発展していった。刺突だけでなく斬撃や打撃を駆使して戦うことができる。そのため戦斧・鎌・フック・鶴嘴・ウォーハンマー・戈など多種多様な長柄武器に発展していった。欠点としては、大型ゆえ閉所での戦闘には向かないことや、長い柄が不利に転じ得る、携帯に不便などである。
            戦闘時に相手との距離がとれることによる恐怖感の少なさや、振りまわすことによる打撃や刺突など基本操作や用途が簡便なため、練度の低い徴用兵を戦力化するにも適した武器であり、洋の東西を問わずに戦場における主兵装として長らく活躍した武器である。一方、槍術と呼ばれる技術体系も存在し、棒術と組み合わせることも多い。また、その長さの持つ威圧感から、軍事力の象徴的に扱われることがあり、特に衛兵や門番は槍を持った姿が多い。 槍を長くするほど、相手との距離を空けて戦えるうえに相手の攻撃が届かず優位に立てる。一方で、槍が長くなればなるほど接近戦が絶望的になるのと同時に、森林や狭所での移動や取り回しが難しくなるなどの大型の武具全般に言える欠点がある。この欠点は洋の東西を問わず認識されており、ファランクスや槍衾（やりぶすま）など野戦で横列を作り、「槍の壁」を作ることで仲間同士で弱点をカバーし合う戦術が考案されている。これらの戦術を用いることにより、集団戦術において槍は有効な武器となっている。 個人戦の場合も、俗に「剣にて槍に対抗するには三倍の段位が必要」と言われるように、近間での戦闘でも長柄によって問題なく戦闘ができるが、武術体系を習得し扱いきるのは困難である。また、戦場での戦列が乱れた乱戦状態での使用も困難である。しかし、乱戦での使用が不可能という訳ではなく、日本の戦国時代の乱戦においては槍組足軽が「横槍を入れる」といい、槍で側面攻撃する場合もある。槍術は棒術などの他の武術体系の領域とも重複し習得内容の幅が広く、非常に難しい。とは言え、同じ長物である大剣などと比較すると、そこまで扱いづらいものではない。
            長柄形の武器は、基本的に使用者の身長からその2倍程度までが無難であるとされるが、使用者の身長の数倍以上のものを扱う者もいる（約4〜6m）。逆に1mくらいのものもあり、片手で扱う武術もある。「無用の長物」と言うように、使用者が扱えないほど長くなれば戦闘にほとんど使えないということもあり得るので、特殊な方法（集団戦法など）を除いて自分の力量や戦術に似合った大きさのものを選ぶ方が良い。 右手で柄尻に近い側を握り、左手を前に出して支える構えから、左手の中で滑らせながら右手の力で突き出すというのが最も基本的な使い方である。重量のある長槍では両手で握り締め突進しながら突き出すほか、高く差し上げて打ち下ろす使い方も洋の東西で見られる。古代ギリシャの重装歩兵は盾と併用し片手で投槍の要領で肩の上に構えたが、いずれにしても得物の長さや状況に応じて臨機応変に構えを変えたようである。突き刺す以外にも、叩く、なぎ払う、かすめ・叩き斬る、絡める、引っ掛ける、フェイント的に柄の側を使うなど、さまざまな用法が開発されている。</p>
</div>
<div>
    <p class="wea_p">斧</p>
    <div class="wea_axe"></div>
    <p>斧の基本的な用途は、樹木の伐採、また木材の成型、薪づくり等々である。道具としての斧の一般的な用途は、生きている樹木を伐り倒し丸太を作ったり、枝を切り払ったり、丸太を割ったり、材木を成形すること、薪をつくることなどである。例えば山での伐採に用いる斧に切斧（きりよき）がある。また切り出した木材を角材に製材する斧に削斧（はつりよき）がある。斧は武器としても使用されてきた歴史がある。武器として発達した斧は戦斧と呼ばれる。
            斧は使用方法ごとに様々なタイプがある。現代の斧は使用目的、サイズおよび様式ごとに特化している。
            
            斧は石器時代より、石斧（せきふ）として存在し、樹木をたたき切る道具や武器として用いられた。石斧はその製法により打製石斧と磨製石斧に分けられる。技術の発達に連れ、銅、青銅、鉄および鋼で作られた斧が現われた。
            
            片手で使うための短い柄を持つ斧はしばしば手斧（ハンドアックス、ハチェット『Hatchet』）と呼ばれる。特に樹木伐採や木材加工用の、片手で使える小型のものをそう呼ぶのである。（ただし「手斧」という語は、柄のない斧、を指すためにも用いられているので若干注意が必要である。）ハチェットはしばしば刃の背にハンマーを備えていることが多い。また現代では、柄に収納式のガードが取り付けてあり、刃を保護し安全に持ち歩けるようにしたものもある。</p>
</div>
<div>
    <p class="wea_p">槌</p>
    <div class="wea_hummer"></div>
    <p>手で持つ柄の部分とそれよりは重い頭部からなる。使い方は、柄を持って振り、てこの原理と慣性で、柄もしくはその軸線上を支点とした慣性モーメントを与え、その頭部を対象物に叩きつけて力を加える。槌は、日本語の「つち」の他に、英語の「ハンマー」という言葉もよく使用される。
            また大工や建築や機械工場・土木現場には、仕事の道具として金鎚や木槌などがある。それぞれ形状と用途が異なり、ゲンノウ（玄翁）、トンカチ、ナグリ（殴り）、ハンマー、カケヤ（掛矢）などさまざまな種類がある。
            
            戦闘に用いる戦棍（メイス）や戦鎚（ウォーハンマー）は、中世によく使用された。これは鎧を着込んだ敵にも有効な打撃を与えやすいためである。
            
            通常は金属製の頭部で、頑丈かつ頑強なものが多いが、モグラ叩きに用いられるような玩具には、中に綿を詰めたものも存在する。</p>
</div>
<div>
    <p class="wea_p">杖</p>
    <div class="wea_wund"></div>
    <p>技術としては棒術の一種もしくは異称である。捕り手役人が犯罪者を捕縛するための捕手術や自衛武器の技術として発展した。また身分階級の士農工商において脇差以上の帯刀を許されなかった農民や町人等の護身術としても行なわれた一面もあるが、捕り方道具としての棒の呼称を嫌った流派においては、敢えて棒術ではなく杖術と呼ぶ事があった。また純粋な棒術ではなく戦場で槍や薙刀が折れた場合の技術を伝承しているとの意を込めて槍折れ、薙刀折れの棒もしくは杖として伝わっている流派もある。それぞれに折れる前の武器の技術要素が含まれているケースもある。</p>
</div>
<div>
    <p class="wea_p">弓</p>
    <div class="wea_yumi"></div>
    <p>バビロニア、エジプト、ギリシア、ローマなどの古代諸国は射手隊を編成、特に騎馬戦や海戦に弓を用いた。当時スキタイ人やペルシア人は弓に長けていたといわれる。ケルト人は逆に弓を重視せずそれ程有能な射手もおらず、射手はもっぱら体力のない小柄な者がなった。ゲルマン人も早くから弓を狩猟に用いていたが、フン族などの騎馬遊牧民と接触してからこれに対抗するための武器として広く採用したものとみられる。ヴァイキングの時代にも弓は海戦で盛んに使用された。中央アメリカでは長い間弓は知られておらず、早くても10世紀頃までは飛び道具としてアトラアトラが用いられ続けた。
            ノルマン朝の始祖ウィリアム征服王は射手隊を巧妙に使ってヘイスティングズの戦いに勝利したと言われるが、このころの弓は胸元で引く短弓やクロスボウなどの機械弓であった。しかしその後、イギリスの弓は長弓となり（このあたりの描写は映画ブレイブハートなどに見ることができる）、弓が勝敗を決したので弓隊の長は名誉の職とされた。中世英国の自営農民も自衛のためにイチイの木などで作った長弓を用い、その名手は300mも先の的を射たという。しかし、他国では騎士は狩猟のほか弓を用いず、弓は主として身分の低い歩兵の武器とされた。その為、身分の低い兵士はたとえ弓を装備していなくても弓兵（アーチャー、アルシェ）と呼ばれた。</p>
</div>
</div>

<%= render partial: 'template/footer' %>