<!-- ヘッダー部分読み込み  -->
<%= render partial: 'template/header' %>
<!-- -->

<h1>駆け出し冒険者がすぐに強くなれる方法とは？竜のうろこや新防具を手に入れよう！</h1>
<p>聖守護者第4弾には僧侶で行くつもりなので<br>
レベル上げをしようと試練の門に行った時のことです。<br>
自分が回復役だから<br>
火力のサポを3人引き連れて<br>
試練の上から順番に倒していったんですけどね。<br>
あれ…？<br>
敵からダメージ受けない…。<br>
</p>

<p>ビッグモーモンとか弱いやつは当然として<br>
バッファロンたちでも全然ダメージを受けません。<br>
で、自分が僧侶だから<br>
なんにもやることがないんですよね。<br>
スティックで攻撃しても仕方がないし<br>
キラポンもベホマラーも必要なし。
<br>
う～～む。
あんまりにもやることないから<br>
戦ってる時間を利用してレンジでハンバーガーをチンしてきて<br>
ながらのご飯タイムにしてしまいましたよ。</p>

<p>竜のうろこ。<br>

強くなる装備と言えば<br>

まず筆頭に上がるのがこれでしょう。<br>

 

受けるダメージ30軽減って本当にすごい。<br>

 

まだ持っていない人は<br>

最優先で手に入れると良いと思います。<br>

もし僕が新規プレイヤーだったら<br>

必至でコイン代を貯めて1戦して<br>

クローバーのカギでも使って手に入れてしまうレベル。<br></p>

 

ついでに打たれ名人の宝珠もあれば完璧ですね。<br>

合わせて受けるダメージ40軽減になります。<br>



<%= render partial: 'template/footer' %>