/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 
 *, *::before, *::after {
  list-style: none;
}
.header-nav{
 margin-top: 5rem;
}
.main-menu{
  margin-top: 1.5rem;
}

.enja{
    margin-left: 3rem;
}

footer{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-flow: row wrap;
  padding: 50px;
  color: #fff;
  background-color: #011c39;
}

.footer > *{
  flex: 1 100%;
}
.footer-left{
  margin-right: 1.25rem;
  margin-bottom: 2em;
}
.footer-left img{
  width: 50%;
}
h2{
  font-weight: 600;
  font-size: 17px;
}
.footer ul{
  list-style:none;
  padding-left: 0;
}
.footer li{
  line-height: 2em;
}
.footer a{
  text-decoration: none;
}
.footer-right{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-flow: row wrap;
}


/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *
 *= require spree/frontend
 *= require_self
 *= require_tree .
 *= require spree/frontend/solidus_paypal_commerce_platform
*/
footer{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-flow: row wrap;
  padding: 50px;
  color: #fff;
  background-color: #011c39;
  width: 100%;
  margin-left: 0rem;

  h2{
  padding-left: 9.5rem;
  color: #585656;
}
}

.footer > *{
  flex: 1 100%;
}
.footer-left{
  margin-right: 1.25rem;
  margin-bottom: 2em;
}
.footer-left img{
  width: 50%;
}
.footer ul{
  list-style:none;
  padding-left: 0;
  font-size: 17px;
}
.footer li{
  line-height: 2em;
}
.footer a{
  text-decoration: none;
}
.footer-right{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-flow: row wrap;
}

.box a{
  color: #999;
}
.footer-bottom{
  text-align: center;
  color: #999;
  padding-top: 50px;
}
.footer-left p{
  padding-right:20%;
  color: #999;
}
.socials a{
  background: #364a62;
  width: 40px;
  height: 40px;
  display: inline-block;
  margin-right: 10px;
}
.socials a i{
  color: #e7f2f4;
}

.footer ul {
  list-style: none;
  padding-left: 9.5rem;
}



@media screen and (min-width: 770px){
  .pro{
    margin-right: 33rem; 
  }
  .features{
    margin-left: 20rem;
  }
  .features2{
    margin-right: 23rem;
  }
}

