.__body {
    background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%) !important;
}
.center{
    text-align: center;
h1{
    margin: 0;
    padding-top: 5rem;
}
p{
    font-size: 19px;
}
}
