<footer class="footer">
 <div class="footer-left">
    <img src="" alt="">
    <p>Lorem iosum dolor sit amet,</p>
  <div class="socials">
    <a href="#"><i class="fa fa-facebook"></i></a>
  </div>
 </div>

 <ul class="footer-right">
  <li class="pro">
    <h2>Product</h2>
     <ul>
        <li><a href="#">採用情報</a></li>
        <li><a href="#">このサイトについて</a></li>
        <li><a href="#">プレスリリース</a></li>
        <li><a href="#">コミュニティ<a></li>
        <li><a href="#">ビジネス</a></li>
     </ul>
  </li>
  <li class="features">
    <h2>Useful Links</h2>
    <ul class="box">
        <li><a href="#">ポイント</a></li>
        <li><a href="#">返品</a></li>
        <li><a href="#">サービス</a></li>
        <li><a href="#">クレジットカード</a></li>
        <li><a href="#">チャージ</a></li>
    </ul>
  </li>

  <li class="features2">
    <h2>Address</h2>
    <ul class="box">
        <li><a href="#">ヘルプ</a></li>
        <li><a href="#">登録情報</a></li>
        <li><a href="#">支払い方法</a></li>
        <li><a href="#">アシスタント</a></li>
        <li><a href="#">配送</a></li>
    </ul>
  </li>
 </ul>
 <div class="footer-bottom">
  <p>All Right reserved by &copy;conceptial 2020</p>
 </div>


</footer>
