<footer class="footer">
 <div class="footer-left">
    <img src="" alt="">
    <p>Lorem iosum dolor sit amet,</p>
  <div class="socials">
    <a href="#"><i class="fa fa-facebook"></i></a>
  </div>
 </div>

 <ul class="footer-right">
  <li class="pro">
    <h2>Product</h2>
     <ul>
        <li><a href="#">Theme Design</a></li>
        <li><a href="#">Theme Design</a></li>
        <li><a href="#">Theme Design</a></li>
        <li><a href="#">Theme Design</a></li>
        <li><a href="#">Theme Design</a></li>
     </ul>
  </li>
  <li class="features">
    <h2>Useful Links</h2>
    <ul class="box">
        <li><a href="#">Theme Design</a></li>
        <li><a href="#">Theme Design</a></li>
        <li><a href="#">Theme Design</a></li>
        <li><a href="#">Theme Design</a></li>
        <li><a href="#">Theme Design</a></li>
    </ul>
  </li>

  <li class="features2">
    <h2>Address</h2>
    <ul class="box">
        <li><a href="#">Theme Design</a></li>
        <li><a href="#">Theme Design</a></li>
        <li><a href="#">Theme Design</a></li>
        <li><a href="#">Theme Design</a></li>
        <li><a href="#">Theme Design</a></li>
    </ul>
  </li>
 </ul>
 <div class="footer-bottom">
  <p>All Right reserved by &copy;conceptial 2020</p>
 </div>


</footer>
